AddHandler application/x-httpd-php82 .php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~xberdi01/

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /~xberdi01/index.php [L]


    # Allow access to public storage folder
    RewriteCond %{REQUEST_URI} !^/~xberdi01/public/storage/
</IfModule>

# Apply ForceType to doc.html only
<Files "doc.html">
    ForceType 'text/html; charset=ISO-8859-2'
</Files>
